.body{
	font-family: 'Poppins', sans-serif;
	background-color: #7E5CF2;
}
.cabeçalho{
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
}
.logo{
	width: 50%;
	height: 90%;
}
.estudantes{
	margin-top:22px ;
	width: 70%;
	height:60%;
}

.sobre{
	background: linear-gradient(#D05CF2, #7E5CF2);
}
.titulo{
	font-size: 30px;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
.texto1{
	margin-top: 25px;
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10%;
	margin-bottom: 5px;
}
.texto-p{
	background: linear-gradient(#D05CF2, #7E5CF2);
	margin-top: 25px;
}
.texto2{
	margin-top: 25px;
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10%;
	margin-bottom: 5px;
}
.xp{
	background-color: #ffffff;
}
.projeto1{
	background: linear-gradient(45deg, #D05CF2, #7E5CF2);
}
.projeto2{
	background: linear-gradient(300deg, #7E5CF2, #D05CF2);
}
.projeto3{
	background: linear-gradient(45deg, #D05CF2, #7E5CF2);
}
.projeto4{
	background: linear-gradient(300deg, #7E5CF2, #D05CF2);
}
.foto1{
	padding: 15px;
	height:50% ;
	width:50% ;
}
.foto2{
	padding: 15px;
	height:50% ;
	width:50% ;	
}
.foto3{
	height:50% ;
	padding: 15px;
	width:50% ;	
}
.foto4{
	padding: 15px;
	height:50% ;
	width:50% ;	
}
.xj{
	
	padding: 5px;
	background-color: #ffffff;
	margin-right: 4%;
	margin-top: 100px;
	color: #000000;
	font-size: 25px;
}
.xy1{
	display: flex;
	justify-content: space-around;
}
.xy2{
	display: flex;
	justify-content: space-around;
}
.xy3{
	display: flex;
	justify-content: space-around;
}
.xy4{
	display: flex;
	justify-content: space-around;
}
.foto{
	padding: 15px;
	width: 50%;
	height: 50%;
	display: flex;
}
.nozes{
	background-image: linear-gradient(300deg, #7E5CF2, #D05CF2);
	}
.rodape{
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
}
.xh{
	font-size: 25px;
	text-align: center;
	background-color: #ffffff;
}
.xm{
	color: #ffffff;
	margin-top: 25px;
	width: 80%;
	display: flex;
	justify-content: space-around;
}
.Bme{
	height: 90%;
	width: 60%;
}
.casa{
margin-top: 20px;
margin-left: 5px;
}
.agradecimento{
	font-size: 25px;
	margin-top: 25px;
}
.titulo--{
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
