body{
	background-color: #2e2e2e;
}
header{
	background-color: #2e2e2e;
}
.nos{
	display: flex;
}
.fotologo{
	padding: 5px;
	height: 10%;
	width: 10%;
	animation: shake 5s infinite
}
@keyframes shake {
	0% { transform: translatex(0); }
	50% { transform: translateX(50px); }
	100% { transform:  translateX(0); }
}
.fotonos{
	width: 5%;
	height: 5%;
	margin-top: 30px;
	margin-left: 1000px;

}
.texto0{
	margin-top: 50px;
	font-family: 'Courier Prime', monospace;
	color: #ffffff;
}
.faixa{
	margin-bottom: 15px;
	background-color: #525252;
	height: 3px;
}
.meio{
	background-color: #2E2E2E;	
}
.texto1{
	color: #ffffff;
	text-align: justify;
	font-family: 'Courier Prime', monospace;
	margin-top: 25px;
	padding: 15px;
	font-size: 22px;
	width: 80%;
}
.meioxx{
	display: flex;
	justify-content: space-around;
}
.t1{
	width: 50%;
	height: 50%;
	background-image: linear-gradient(115deg,#1aff00,#0000ff,#9000ff,#ff0000,#ff5e00,#ffff00);
	border: 15px solid #2E2E2E;
}
.xy{
	margin-bottom: 15px;
	background-image: linear-gradient(115deg,#1aff00,#0000ff,#9000ff,#ff0000,#ff5e00,#ffff00);
	width: 30%;
	margin-left: 450px;
}	
.titulo1{
	color: #ffffff;
	text-align: center;
	font-family: 'Courier Prime', monospace;
	font-size: 40px;
	padding: 15px;
}
.subtitulo1{
	margin-left: 150px;
	width: 80%;
	color: #ffffff;
	text-align: center;
	font-family: 'Courier Prime', monospace;
	font-size: 30px;
	margin-bottom: 40px;
}
.conteiner{
	width: 100%;
	height: 100 vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper{
	width: 80%;
	height: 50%;
}
.swiper-slide img{
	width: 100%;
}
.jp{
	justify-content: space-around;
	display: flex;
	width: 90%;
}
.fotose1{
	margin-left: 50px;
	width: 25%;
	height: 25%;
}
.fotose2{
	margin-left: 50px;
	width: 25%;
	height: 25%;
}
.fotose3{
	margin-left: 50px;
	width: 25%;
	height: 25%;
}
.fotose4{
	margin-left: 50px;
	width: 25%;
	height: 25%;
}
.nomes{
	margin-left: 30px;
	padding: 15px;
}
.nomes1{
    color: black;
}
.nomes2{
    color: black;
}
.nomes3{
    color: black;
}
.nomes4{
    color: black;
}
.nada{
	height: 15px;
}
.rodape{
    display: flex;
	justify-content: center;
	background-color: #ffffff;
}
.logo2{
	height: 15%;
	width: 15%;
	animation: shake 5s infinite;
}
@keyframes shake {
	0% { transform: translateX(0); }
	50% { transform: translateX(50px); }
	100% { transform: translateX(0);}

}
.faixa2{
	margin-top: 15px;
	background-color: #525252;
	height: 3px;
}
.joguinhos1{
	background-color: white;
	display: flex;
	justify-content: center;
}
.joguinhos2{
	background-color: white;
	display: flex;
	justify-content: center;
}
.titulo3{
	text-align: center;
	font-size: 30px;
	padding-left: 10px;
	font-family: 'Courier Prime', monospace;
}
.texto3{
	font-family: 'Courier Prime', monospace;
	font-size: 15px;
	padding-top: 15px;
}
.brincadeiras{
	background-color: white;
	justify-content: space-around;
	display: flex;
}
.snake-game{
    background-color: #ffffff;
}
.start{
	margin-left: 70px;
}
.grid {
	margin-left: 15px;
 	border: 1px black solid;
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
}
.score{
	margin-left: 70px;
}
.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}
.fim{
	background-color: white;
	height: 30px;
}
